p {
    background-color: grey;
    border: 2px solid green;
}

body {
    margin:0;
    background-color:blueviolet;
}

.premier {
    height: 100px;
    padding:20px;
    margin:0;
}

.deuxieme {
    width:50%;
    padding:1.2em;
    margin:20px 5px;
}

.troisieme {
    height:200px;
    width:200px;
    padding:-30px;
    margin:auto;
}